* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff   ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
}

.card-container {
    padding: 35 25;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card {
    width: 320px;
}

.john {
    background-color: #ffffff;
    box-shadow: 0 0 5px 3px;
    text-align: center;
}

.john img{
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 10px;
}

.john .title{
    color: grey;
    margin-top: 15px;
    margin-bottom: 15px;
}

.john .contact {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 10px;
}

.andrew {
    background-color: mediumpurple;
    box-shadow: 0 0 5px 3px;
    text-align: center;
    color:white;
    border-radius: 10%;
}

.andrew img{
    width: 140px;
    height: 140px;
    border: 5px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    margin-top: 15px;
    margin-bottom: 10px;

}

.andrew .address{
    margin-bottom: 15px;
}

.andrew .message {
    display: inline-block;
    width: 80%;
    border-radius: 5%;
    background-color: #ffffff;
    color: #000000;
    margin-top: 25px;
    margin-bottom: 15px;
    padding: 10px;
}
